
/*-----------------------------------*\
  #BASE STYLES
\*-----------------------------------*/

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}


/*-----------------------------------*\
  #RESET STYLES
\*-----------------------------------*/

input {
  border: none;
  background: none;
  letter-spacing: 1px;
  color: lightgray;
}

button {
  font-family: inherit;
  border: none;
  background: none;
}

img,
button,
li,
a { cursor: pointer; }

li { list-style: none; }

a { text-decoration: none; }

h1, h2, h3, h4, h5, h6 {
    font-family: inherit;
    margin: 0;
    padding: 0;

}

/*-----------------------------------*\
  #POP-UP CONTAINER STYLES
\*-----------------------------------*/

#myPopup {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1000;
    border-radius: 1rem;
}

.backdrop {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    /* background-color: rgba(0, 0, 0, 0.5); */
}

.popup-content {
    position: absolute;
    top: 10%;
    left: 50%;
    transform: translate(-50%, 50%);
    width: 80%;
    background: white;
    height: auto;
    text-align: center;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    z-index: 1001;
    border-radius: 1rem;
}

.close-popup {
    font-weight: 600;
    color: white;
    width: 100%;
    background: black;
    border: none;
    text-align: end;
    padding-right: 1.5rem;
    padding-block: 1rem;
    font-size: 1rem;
    border-top-left-radius: 1rem;
    border-top-right-radius: 1rem;
    border: 2px solid white;
}

 .close-popup > .ri-close-line{
    border: 1px solid white;
    padding: 4px;
}

.popup-text {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 1rem;
    gap: 1rem;
}

.popup-text p { 
    text-align: left;
    font-size: 1rem;
}

@media (min-width: 600px) {
  .popup-content { width: 500px;}
}